<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <a href="/create">create</a>

    <div id="data-container">
        <% if (storage.length> 0) { %> <% storage.forEach((element, index)=> { %>
                <div>
                    <a href="/visit/<%= index %>">
                        <input type="hidden" name="index" id="" value="<%= index %>">
                        <h1>
                            <%= element.heading %>
                        </h1>
                    </a>

                    <div>
                        <%= element.body %>
                    </div>
                    <form action="/delete" method="post">
                        <input type="hidden" name="index" id="" value="<%= index %>">
                        <span class="triggerSpan" onclick="triggerSubmission(this)">
                            delete
                        </span>
                    </form>
                    <a href="/update/<%= index %>">update</a>
                </div>
                <% });} else { %>
                        <div>No data available</div>
                        <% } %>
    </div>

    <script src="./script/script.js"></script>
</body>

</html>